body {
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #333;
    padding: 10px 20px;
}

.brand-title {
    font-size: 1.5em;
    color: #fff;
}

.navbar-links {
    display: flex;
}

.navbar-links ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.navbar-links li {
    padding: 0 10px;
}

.navbar-links a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.toggle-button {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    width: 24px;
    height: 21px;
}

.toggle-button .bar {
    height: 3px;
    width: 100%;
    background-color: white;
    border-radius: 10px;
}

@media (max-width: 768px) {
    .toggle-button {
        display: flex;
    }

    .navbar-links {
        display: none;
        width: 100%;
    }

    .navbar-links ul {
        width: 100%;
        flex-direction: column;
    }

    .navbar-links li {
        text-align: center;
        padding: 15px 0;
    }

    .navbar-links.active {
        display: flex;
    }
}
